<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="DIGITAL"
	gameType="DIGITAL | PS4"
	gamePrice="R$159,99"
	></app-card>

	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="EXCLUSIVE"
	gamePrice="R$349,99"
	gameType="DISC | PS5"
	></app-card>

	<app-card
	gameCover="assets/bt-5.jpg"
	gameLabel="LANÇAMENTO"
	gamePrice="R$199,99"
	gameType="DIGITAL | PS5"
	></app-card>

	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="EXCLUSIVE"
	gamePrice="R$99,99"
	gameType="DISC | PS4"
	></app-card>

	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLabel="NEW"
	gamePrice="R$155,99"
	gameType="DIGITAL | PS5"
	></app-card>

</div>
